body {
  background-color: #f0f2f5;
}
td,
th {
  border: 1px solid black;
  padding: 5px;
  background: linear-gradient(135deg, skyblue, white);
}
input {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: 200;
  outline: none;
  padding: 5px;
}
p {
  font-weight: 400;
}
.purple-box {
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
form {
  background-color: transparent;
}
.signup-box {
  background-color: transparent;
}
.Field {
  display: flex;
}
